* {
	margin: 0;
	padding: 0;
	background: #33ff99;
	
	 
}

body{

}

h1{
	display: block;
	text-align: center;
}

textarea, button{
	outline: 2px dashed #ffffff;
 	outline-offset: 15px;
}
main{
	
	
	display: flex;
	

	
}



.input-text{
	clear: both;
	position: relative;
	
	background: #FFFFFF;
	-moz-transform: translate(320px,-30px);
	-webkit-transform: translate(320px,-30px);

}

#input-text-area{
	clear: both;
	position: relative;
	
	background: #FFFFFF;
	-moz-transform: translate(380px,-30px);
	-webkit-transform: translate(380px,-30px);
}

footer{
	clear: both;
	color: #ff0000;
	text-align: center;

	-moz-transform: translate(0px,-60px);
	-webkit-transform: translate(0px,-60px);
	margin-bottom: 50px;

	
}


.enB{
	clear: both;
	background: #FFFFFF;
	display: block;
	
	padding: 10px;
	padding-right: 35px;
	padding-left: 35px;
	text-align: center;
	

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	-moz-transform: translate(320px,50px);
	-webkit-transform: translate(320px,50px);

}

.desB{
	clear: both;
	background: #0000FF;
	display: block;
	margin: 50px ;
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	
	color: #FFFFFF;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	-moz-box-shadow: rgb(0,0,150) 5px 5px 10px inset;
	-webkit-box-shadow: rgb(0,0,150) 5px 5px 10px inset;
	box-shadow: rgb(0,0,150) 5px 5px 10px inset;

	-moz-transform: translate(450px,-40px);
	-webkit-transform: translate(450px,-40px);
}

.c{
	background: #CCCCCC;
	padding: 10px;
	padding-right: 25px;
	padding-left: 25px;
	text-align: center;
	

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	-moz-transform: translate(900px,-130px);
	-webkit-transform: translate(900px,-130px);

}
